.header {
  max-width: 100%;
  background-image: url(../../images/Home.jpg);
  border-radius: 40px 40px 0 0;
  padding: 30px;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 80px;
  height: 80px;
  text-align: start;
}
