.header__profile {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media (max-width: 850px) {
  .header__profile {
    flex-direction: column;
  }
}

.header__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.header__hello {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
  color: rgb(24, 47, 198);
  background-color: rgb(237, 167, 75);
  border-radius: 30px;
  padding: 15px;
  border: 1px solid;
}

.header__text {
  max-width: 500px;
  font-size: 20px;
}
