.home {
  width: 100%;
  background-image: url(../../images/Home.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
}

.home__photo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: rgb(233, 206, 72) solid 3px;
}

.home__textcontainer {
  width: 50%;
  background-color: white;
  color: black;
  margin: 50px;
  border-radius: 50px;
  padding: 30px;
  border: rgb(233, 206, 72) solid 3px;
}

.home__text {
  text-align: left;
  margin-bottom: 30px;
  font-family: 'Inter';
}
