.App {
  max-width: 1440px;
  text-align: center;
  margin: 0 auto;
}

.activeLink {
  color: rgb(38, 10, 162);
}

.link {
  text-decoration: none;
}

a {
  color: rgb(0, 0, 0);
  font-size: 35px;
}

nav a {
  margin: 15px;
  font-size: 40px;
}

@media (max-width: 620px) {
  nav a {
    margin: 10px;
    font-size: 20px;
  }
}

nav {
  padding: 5px;
}

h1 {
  font-size: 90px;
  margin-top: 20px;
}

button {
  padding: 15px;
  font-size: 30px;
  border-radius: 5px;
  margin: 20px;
  border: 0;
  cursor: pointer;
}
