.videocontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin: 50px auto;
  gap: 20px;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .videocontainer {
    grid-template-columns: 1fr;
  }
}

.videocontainer__element {
  max-width: 560px;
  text-align: justify;
}
